<div id="informe_sueldos_content" layout="column">
  <div class="section_header">
    <h1>Tu posición</h1>
  </div>
  <div flex layout="row" layout-xs="column" layout-sm="column">
    <div flex class="informe_item">
      <div class="subsection_header">
        <h2>{{ $ctrl.informe.carrera }}</h2>
      </div>
      <div class="subsection_description">
        <p>E-mail: {{ $ctrl.informe.email }}</p>
        <p>Sueldo total: {{ $ctrl.informe.sueldo | currency:"$":0 | comma2dot }}</p>
        <p>Cargo: {{ $ctrl.informe.cargo }}</p>
        <p>Institución: {{ $ctrl.informe.institucion }}</p>
        <p>Años de Experiencia: {{ $ctrl.informe.anos_exp }}</p>
        <p>Industria: {{ $ctrl.informe.industria }}</p>
      </div>
    </div>
    
  <div style="margin-bottom: 20px;">&nbsp;</div>
    <div ng-repeat="tarjeta in $ctrl.tarjetas" flex class="informe_item">
      <tarjeta config="tarjeta"></tarjeta>
    </div>

  </div>

  <div style="margin-bottom: 20px;">&nbsp;</div>
  <div class="section_header" id="comparacion">
    <h1>Comparación</h1>
  </div>

  <div flex layout="row" layout-xs="column" layout-sm="column">
    <div flex class="informe_item">
      <div ng-if="$ctrl.por_industria">
        <barras style="width:100%;" config="$ctrl.por_industria"></barras>
      </div>
    </div>

    <div flex class="informe_item">
      <div ng-if="$ctrl.por_institucion">
        <ranking config="$ctrl.por_institucion"></ranking>
      </div>
    </div>

    <div flex class="informe_item">
      <div ng-if="$ctrl.por_ingles">
        <ranking config="$ctrl.por_ingles"></ranking>
      </div>
    </div>
  </div>
  <div style="margin-bottom: 20px;">&nbsp;</div>
  <div flex layout="row" layout-xs="column" layout-sm="column">
    <div flex class="informe_item">
      <div ng-if="$ctrl.por_genero">
        <ranking config="$ctrl.por_genero"></ranking>
      </div>
    </div>
  </div>

</div>