<div id="informe_sueldos_content" layout="column">
  <div class="section_header">
    <h1>Tu posición</h1>
    <p>
      En este lugar encontrarás tu posición respecto de colegas que comparten tu carrera y nivel de cargo, y que además tienen años de experiencia muy similares al tuyo. El objetivo es que puedas formarte una idea de cómo está tu sueldo respecto del mercado, para que tomes las mejores decisiones futuras.
    </p>
  </div>
  <div  layout="row" layout-xs="column" layout-sm="column">
    <div  class="informe_item">
      <div class="subsection_header">
        <h2>{{ $ctrl.informe.carrera }}</h2>
      </div>
      <div class="subsection_description">
        <p>E-mail: {{ $ctrl.informe.email }}</p>
        <p>Sueldo total: {{ $ctrl.informe.sueldo | currency:"$":0 | comma2dot }}</p>
        <!-- <p>Carrera Homologada: {{ $ctrl.informe.carrera_homologada }}</p> -->
        <p>Cargo: {{ $ctrl.informe.cargo }}</p>
        <p>Institución: {{ $ctrl.informe.institucion }}</p>
        <p>Años de Experiencia: {{ $ctrl.informe.anos_exp }}</p>
        <p>Industria: {{ $ctrl.informe.industria }}</p>
      </div>
    </div>
    
  <div style="margin-bottom: 20px;">&nbsp;</div>
    <div ng-repeat="tarjeta in $ctrl.tarjetas"  class="informe_item">
      <tarjeta config="tarjeta"></tarjeta>
    </div>

  </div>

  <div style="margin-bottom: 20px;">&nbsp;</div>
  <div class="section_header" id="comparacion">
    <h1>Comparación</h1>
    <p>
      En este lugar encontrarás comparaciones generales sobre industrias, inglés y género para el nivel de cargo en el que te encuentras. En esta sección iremos actualizando y agregando nuevos comparativos para que tengas una visión más amplia del mercado.
    </p>
  </div>
  <div style="margin-bottom: 20px;">&nbsp;</div>
  <div  layout="row" layout-xs="column" layout-sm="column">
    <div  class="informe_item description">
      <h2>Comparación por industria</h2>
      <p>
        Se agruparon aquellas industrias que mejor sueldo entregan a los ingenieros, las consideradas de rango medio y las que peor pagan; considerando el mismo nivel de cargo tuyo -independiente de la experiencia- en el siguiente gráfico puedes ver la posición de tu industria respecto de las otras.
      </p>
    </div>
    <div  class="informe_item">
      <div ng-if="$ctrl.por_industria">
        <barras style="width:100%;" config="$ctrl.por_industria"></barras>
      </div>
    </div>
  </div>

  <div style="margin-bottom: 20px;">&nbsp;</div>
  <div  layout="row" layout-xs="column" layout-sm="column">
    <div  class="informe_item description">
      <h2>Comparación según nivel de inglés</h2>
      <p>
        Quienes tienen el mismo nivel de cargo tuyo perciben sueldos promedios distintos de acuerdo al nivel de inglés que tienen. En este gráfico puedes ver las diferencias entre aquellos que tienen tu mismo nivel de cargo.
      </p>
    </div>
    <div  class="informe_item">
      <div ng-if="$ctrl.por_ingles">
        <ranking config="$ctrl.por_ingles"></ranking>
      </div>
    </div>
  </div>


  <div style="margin-bottom: 20px;">&nbsp;</div>
  <div  layout="row" layout-xs="column" layout-sm="column">
    <div  class="informe_item description">
      <h2>Comparación de género</h2>
      <p>
        Una de las conclusiones más relevantes que hemos obtenido desde el comienzo del estudio, hace 5 años, es que hay diferencias de sueldo por género; la mayoría de los casos a favor de los hombres. Aquí puedes ver esta diferencia para quienes tienen tu mismo nivel de cargo y mismo rango de experiencia laboral.
      </p>
    </div>
    <div  class="informe_item">
      <div ng-if="$ctrl.por_genero">
        <ranking config="$ctrl.por_genero"></ranking>
      </div>
    </div>
  </div>

</div>