<md-toolbar>
    <div class="md-toolbar-tools proexp-toolbar" >
        <a>
            <i class="fa fa-bars" ng-click="$ctrl.openLeftMenu()"></i>
        </a>
        <md-button aria-label="Logo">
           <img
            class="png-icon"
            src="../../static/png/logo3.png"
            style="width: 190px; height: 40px;">
        </md-button>
        <span flex></span>
        <md-button>Home</md-button>
        <md-button>Informe de sueldos</md-button>
        <md-button>Estudio de sueldos 2016</md-button>
        <md-button>Contacto</md-button>
        <md-button>Log in</md-button>
    </div>
</md-toolbar>

<md-sidenav
    md-component-id="left-sidenav"
    class="md-sidenav-left proexp-sidenav">

    <md-content layout-padding="" layout="column">
        <md-button ng-click="$ctrl.show('home')">
            <i class="fa fa-line-chart"></i>
            Informe
        </md-button>

        <md-button ng-click="$ctrl.show('work')">
            <i class="fa fa-diamond"></i>
            Perfil Avanzado
        </md-button>
    </md-content>
</md-sidenav>

<md-content>
    <div ui-view></div>
</md-content>
