<md-bottom-sheet class="md-list md-has-header">
  <md-subheader ng-cloak>CONOCE MÁS</md-subheader>
  <md-list ng-cloak>
    <md-list-item>
        <md-button class="md-list-item-content">Home</md-button>
    </md-list-item>
    <md-list-item>
        <md-button class="md-list-item-content">Informe de sueldos</md-button>
    </md-list-item>
    <md-list-item>
        <md-button class="md-list-item-content">Estudio de sueldos 2016</md-button>
    </md-list-item>
    <md-list-item>
        <md-button class="md-list-item-content">Contacto</md-button>
    </md-list-item>
    <md-list-item>
        <md-button class="md-list-item-content">Log in</md-button>
    </md-list-item>

  </md-list>
</md-bottom-sheet>