<md-bottom-sheet class="md-list md-has-header">
  <md-list ng-cloak>
    <md-list-item>
        <md-button class="md-list-item-content" style="text-align:left;width:100%;">Home</md-button>
    </md-list-item>
    <md-list-item>
        <md-button class="md-list-item-content" style="text-align:left;width:100%;">Informe de sueldos</md-button>
    </md-list-item>
    <md-list-item>
        <md-button class="md-list-item-content" style="text-align:left;width:100%;">Estudio de sueldos 2016</md-button>
    </md-list-item>
    <md-list-item>
        <md-button class="md-list-item-content" style="text-align:left;width:100%;">Contacto</md-button>
    </md-list-item>
    <md-list-item>
        <md-button class="md-list-item-content" style="text-align:left;width:100%;" ng-click="changePassword()">Cambiar Contraseña</md-button>
    </md-list-item>
    <md-list-item>
        <md-button class="md-list-item-content" style="text-align:left;width:100%;" ng-click="buttonCallback()">{{ buttonText }}</md-button>
    </md-list-item>

  </md-list>
</md-bottom-sheet>