<div class="tarjeta_container">
    <div class="tarjeta_main">
        <div class="tarjeta_title">
            <indicador value="$ctrl.config.value" icon-class="$ctrl.config.iconClass"></indicador>
        </div>
        <div class="tarjeta_divider">&nbsp;</div>
        <div class="tarjeta_desc">
            <descripcion text="$ctrl.config.description"></descripcion>
        </div>
        <div class="tarjeta_percent">
            <progress-bar value="$ctrl.config.percent"></progress-bar>
        </div>
    </div>
    <div class="tarjeta_icon">
        &nbsp;
        <div class="tarjeta_icon_circle" style="background-color: {{ $ctrl.passColor }};" ng-click="$ctrl.showAlert($event, '', $ctrl.message)">
            <i class="fa {{ $ctrl.passClass }}"></i>
        </div>
    </div>
</div>