<div class="ranking_container">
  <div class="ranking_title">{{ $ctrl.titulo }}</div>
  <div class="ranking_subtitle">{{ $ctrl.desc }}</div>
  <div ng-show="$ctrl.enoughData">

    <div class="ranking_top">
      <div ng-repeat="item in $ctrl.posiciones">
        <ranking-item item="item"></ranking-item>
        <md-divider style="margin: 0 15px;"></md-divider>
      </div>
    </div>
    <br>
    <br>
    <div class="ranking_you" ng-show="$ctrl.hasYours">
      <ranking-item item="$ctrl.yours"></ranking-item>
    </div>

  </div>

  <div class="ranking_message" ng-show="!$ctrl.enoughData">
    No hay suficientes datos para generar este reporte, ya que pocos ingenieros presentan un perfil similar al tuyo. Lo sentimos.
  </div>
</div>
