<md-content class="md-padding" style="display:flex;">
            <div style="flex:40; margin-left: 60px;">
                <h3>HOME</h3>
                <ul>
                    <li>
                        Homologación de datos
                    </li>
                    <li>
                        Reducción de variables
                        <br>
                        <ul>
                            <li>ID</li>
                            <li>CARRERA_ORIGINAL</li>
                            <li>FELICIDAD</li>
                            <li>AREA_TI</li>
                            <li>PAIS_MBA, PAIS_DEL_MAGISTER</li>
                            <li>JORNADA</li>
                            <li>CASA_DE_ESTUDIO_MBA</li>
                            <li>SALARIOLIQUIDO, VARIABLE, BONO</li>
                            <li>AÑO</li>
                        </ul>
                    </li>
                    <li>
                        Exclusión temporal
                        <br>
                        <ul>
                            <li>REGION_DE TRABAJO</li>
                            <li>INDUSTRIA</li>
                        </ul>
                    </li>
                    <li>
                        Eliminación de Outliers
                        <br>
                        <ul>
                            <li>SUELDO_TOTAL > 10.000.000$</li>
                            <li>EDAD > 50 Años</li>
                            <li>ANOS_DE_EXP > 20 Años</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div style="flex:5;"></div>
            <div style="flex:55;">
                <h3>Base de datos definitiva, 25.355 registros con 15 Variables:</h3>
                <ul>
                    <li>EDAD</li>
                    <li>GENERO</li>
                    <li>TRABAJANDO</li>
                    <li>CARRERA_AGRUP</li>
                    <li>TIPO_CARRERA</li>
                    <li>CASA_DE_ESTUDIO</li>
                    <li>ANOS_DE_EXP_</li>
                    <li>DIPLOMADO</li>
                    <li>MAGISTER</li>
                    <li>MBA</li>
                    <li>NIVEL_INGLES</li>
                    <li>TAMANO_EMPRESA</li>
                    <li>AREA</li>
                    <li>NIVEL_DE_CARGOS1</li>
                    <li>SUELDO_TOTAL</li>
                </ul>
            </div>
        </md-content>