<md-content class="md-padding estudio_texto">
    <h3>Estudio de Sueldos</h3>
    <p>
        Los resultados reflejados en los informes de sueldos son producto del Quinto Estudio de Sueldos de Ingenieros cuyo levantamiento de información se realizó vía web entre el 17 de mayo y el 17 de junio de 2017. Durante este periodo se obtuvieron un total de 20.125 respuestas de ingenieros de todas las especialidades, convirtiendo al estudio en un proyecto único en el ámbito de la ingeniería. Desde el 2013 que Conexión Ingenieros, en conjunto con el Colegio de Ingenieros de Chile, elabora el Estudio Nacional de Sueldos de Ingenieros, acumulando a la fecha más de 50.000 respuestas.
    </p>
    <h3>Metodología</h3>
    <p>
        En función de obtener una evaluación integral para cada uno de los ingenieros, se compara el Sueldo Total de los participantes de este año según diferentes parámetros que se encuentran indicados en los análisis individualizados. En este contexto el Sueldo total se calcula según la siguiente fórmula: ((Sueldo Líquido Mensual + Sueldo Variable Mensual) * 12) + Bonos Anuales)/12. En el caso de un trabajo de tiempo parcial el sueldo total anterior se multiplica por 1,6.
        <br>
        Los diferentes análisis realizados se elaboraron en base a diversas metodologías estadísticas y de minería de datos (árboles de decisión etc.), permitiendo resultados válidos y cercanos a la realidad. De esta manera, por ejemplo, se visualizan únicamente resultados para ingenieros de carreras con más de 80 registros.
    </p>
    
    <h3>Plataforma online</h3>
    <p>
        La nueva plataforma online del Estudio de Sueldos permite la consulta del informe personalizado tanto desde un pc como de dispositivos móviles de manera segura. Aprovechando el nuevo medio, se ampliará el Estudio de Sueldos permitiendo la entrada de respuestas durante todo el año. Esta decisión nos da la posibilidad de actualizar nuestra base de datos constantemente (cada 1.000 registros nuevos) y registrar variaciones en los patrones de remuneración. Adicionalmente, se agregarán nuevos e interesantes informes que estarán disponibles para todos los participantes.
    </p>

</md-content>