include ../../../client/login.html

script.
  var auth_message = !{JSON.stringify(decodeURIComponent(credentials)).replace(/<\//g, "<\\/")};
  var mensaje = document.getElementById('mensaje');
  var message = '';
  switch(auth_message){
    case 'missing':
      message = 'Debes ingresar usuario y contraseña válidos.';
      break;
    case 'incorrect':
      message = 'Contraseña incorrecta, por favor intenta otra vez.';
      break;
    default:
      message = '';
  }
  mensaje.innerHTML = message;